terraform-provider-contentful
.envrc
.env
.terraform*
NOTES.md
main.tf

*.backup
/dist/*
coverage.txt

.terraform/
terraform.*
crash.log

.vscode
.idea

local/
!/local/*.example

vendor/
coverage.out
