name: Run Tests

on: [ push ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: golangci-lint
        continue-on-error: true
        uses: golangci/golangci-lint-action@v3
        with:
          args: --issues-exit-code=0 --timeout=5m

      - name: Run tests
        # Run sequentially to avoid conflicts with shared resources in Contentful.
        run: go test -p 1 -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... -v ./...
        env:
          TF_ACC: 1
          CONTENTFUL_MANAGEMENT_TOKEN: ${{secrets.CONTENTFUL_MANAGEMENT_TOKEN}}
          CONTENTFUL_ORGANIZATION_ID: ${{vars.CONTENTFUL_ORGANIZATION_ID}}
          CONTENTFUL_SPACE_ID: ${{vars.CONTENTFUL_SPACE_ID}}

      - name: Upload to codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true

  changie:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare release
        uses: labd/changie-release-action@v0.3.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-workflow: 'release.yaml'
